{% extends 'base.html' %}
{% load leaflet_tags %}


{% block head %}
    <title>IOT Monitoring System</title>
    {%  leaflet_js %}
    {%  leaflet_css %}

{% endblock %}

{% block css %}
<link href="https://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet"/>
{% endblock %}


{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1>IOT Monitoring System</h1>

                {% leaflet_map "main" callback="main_map_init" %}

                <script type="text/javascript">
                    function main_map_init (map, option) {

                    }
                </script>

                <table id="devices_list" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Devices</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ device.name }}</td>
                                {% if device.status == "O" %}
                                    <td><span class="label label-success" style="width: 75px; display: block;">Ok</span></td>
                                {% elif device.status == "W" %}
                                    <td><span class="label label-warning" style="width: 75px; display: block;">Warning</span></td>
                                {%  elif device.status == "E" %}
                                    <td><span class="label label-danger" style="width: 75px; display: block;">Error</span></td>
                                {% else %}
                                    <td><span class="label label-default" style="width: 75px; display: block;">Invalid {{ device.status }}</span></td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>



{% endblock %}
